.discovermain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headSection{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.works{
    height: 50vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.works h2{
    font-size: 40px;
}
.works h3{
    font-size: 25px;
}
.imgsection{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}
.overlay:hover{
    background: rgba(255,255,255,0.4);
    cursor: pointer;
    color: var(--backgroundclr);
}
.overlay:hover button{
    color: var(--backgroundclr);
}
#auto{
    background-image: url('../assets/automotive2.jpg');
}
#event{
    background-image: url('../assets/event.jpg');
}
#lifestyle{
    background-image: url('../lifestyleGallery/i7.jpg');
}
#video{
    background-image: url('../assets/video.jpg');
}
.webdesign{
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.half{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1200px){
    .works{
        height: 30vh;
    }
}
@media only screen and (max-width: 800px){
    .works{
        width: 90%;
        height: 70vh;
        flex-direction: column;
    }
    .imgsection{
        width: 100%;
    }
    .webdesign{
        flex-direction: column;
    }
}