html{
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}
:root {
  --backgroundclr: black;
  --contrastclr: #F9F6EC;
  --ipadbreak: 1100px;
  --mobilebreak: 750px;
  
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background: black;
  font-family: "Raleway", sans-serif;
  color: var(--contrastclr);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1{
  font-weight: 700;
  font-size: 50px;
}
h3{
  font-weight: 600;
}
p{
  font-weight: 400;
}
a{
  color: var(--contrastclr);
  text-decoration: none;
  font-weight: 400;
}
button{
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 10px 25px;
  font-weight: 600;
  background: var(--primary);
  color: var(--contrastclr);
  border: 2px solid var(--contrastclr);
  cursor: pointer;
  align-content: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}
button:hover{
  background: var(--contrastclr);
  color: var(--backgroundclr);
}
@media only screen and (max-width: 1200px){
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 20px;
  }
  p{
    font-size: 15px;
  }
}
@media only screen and (max-width: 750px){
  h1{
    font-size: 30px;
  }
  h3{
    font-size: 18px;
  }
  p{
    font-size: 13px;
  }
}
@keyframes slide-in{
  0%{
      transform: translateX(-80vw);
  }
  100%{
      transform: translateX(0%);
  }
}
@keyframes fade-in{
  100%{
      opacity: 1;
  }
}