.main {
  background-image: url('../assets/hero2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 60vh;
}
.mainAbout{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutText{
  height: 80%;
  width: 65%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutText h1{
  font-size: 60px;
}
.work{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
.rightContainer{
  flex: 60%;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.leftContainer iframe{
    height: 30vw;
    width: 50vw;
}
.rightContainer h1{
  font-size: 40px;
}
.rightContainer span{
  border-radius: 3px;
  padding: 0px 5px;
  background: linear-gradient(90deg, rgba(255,0,9,1) 0%, rgba(219,0,148,1) 48%, rgba(255,149,0,1) 100%);
}
.rightContainer span:hover{
  color: linear-gradient(90deg, rgba(255,0,9,1) 0%, rgba(219,0,148,1) 48%, rgba(255,149,0,1) 100%);
}
#estate{
  flex: 45%;
  padding: 5% 5% 2% 10%;
}
.videoContainer{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.videoplayer{
  width: 90%;
  height: 90%;
  z-index: -1;
  border: none;
}
.leftContainer{
  flex: 40%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
}
.leftContainer h1{
  font-size: 40px;
}
#estateLeft{
  flex: 60%;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%), url('../assets/AIEstate.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#estateLeft h2{
  padding: 5px 15px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(255,0,9,1) 0%, rgba(219,0,148,1) 48%, rgba(255,149,0,1) 100%);
}
@media only screen and (max-width: 1200px){
  .work{
    height: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .videoplayer{
    height: 50%;
  }
  #estateLeft{
    width: 100%;
    height: 50vh;
  }
}
@media only screen and (max-width: 800px){
    .aboutText{
      width: 80%;
      height: 100%;
      padding-bottom: 10%;
    }
    .mainAbout{
      height: 100%;
    }
    .leftContainer{
      padding-right: 0;
    }
    .leftContainer iframe{
      width: 75vw;
      height: 47vw;
    }
    .aboutText h1{
      font-size: 40px;
    }
    .aboutText h3, .rightContainer h3{
      font-size: 15px;
    }
    #estate{
      width: 80%;
    }
    .work{
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .rightContainer, .leftContainer{
      width: 80%;
    }
    
    .leftContainer h1, .rightContainer h1{
      font-size: 30px;
    }
    .videoplayer{
      height: 70%;
    }
    #estateLeft{
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 40%), url('../assets/AIEstate.jpg'); 
      background-size: cover;
      background-position: center;
      padding: 150px 0px;
    }
    #estate{
      padding-left: 5%;
    }
}