.main {
  background-image: url('../assets/hero2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 60vh;
}
.mainAbout{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutText{
  height: 80%;
  width: 65%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutText h1{
  font-size: 60px;
}
.work{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
.rightContainer{
  flex: 60%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoContainer{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.videoplayer{
  width: 90%;
  height: 90%;
  z-index: -1;
  border: none;
}
.leftContainer{
  flex: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
}
.leftContainer h1{
  font-size: 40px;
}
@media only screen and (max-width: 1200px){
  .work{
    height: 80%;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .videoplayer{
    height: 50%;
  }
}
@media only screen and (max-width: 800px){
    .aboutText{
      width: 80%;
      height: 100%;
      padding-bottom: 10%;
    }
    .leftContainer{
      padding-right: 0;
    }
    .aboutText h1{
      font-size: 40px;
    }
    .aboutText h3{
      font-size: 15px;
    }
    .work{
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .rightContainer, .leftContainer{
      width: 90%;
    }
    .leftContainer h1{
      font-size: 30px;
    }
    .videoplayer{
      height: 70%;
    }
}